header{
    background-image: url(./images/movie5.0.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    margin: 0;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 70vh;
    text-align:center;
}

body{
    background-color: lightblue;
}

table{
    border:black;
}
